@mixin font-face($font-family, $font-weight, $font-style, $font-src) {
  @font-face {
    font-family: $font-family;
    font-weight: $font-weight;
    font-style: $font-style;
    font-display: swap;
    src: $font-src;
  }
}

@mixin reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin body-flex {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

@mixin primary-button($font-family, $text-color, $background-color) {
  display: inline-block;
  font-family: $font-family;
  font-size: 16px;
  line-height: 20px;
  padding: 10px;
  color: $text-color;
  background-color: $background-color;
  text-decoration: none;
  border: none;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

@mixin pseudo($display: block, $pos: absolute, $content: "") {
  content: $content;
  display: $display;
  position: $pos;
}

@mixin container {
  display: block;
  margin: 0 auto;
}

@mixin transform {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin benefit-item {
  font-size: 14px;
  line-height: 14px;
  color: $additional-color;
  margin: 0;
}
