/* здесь используйте глобальные переменные */
$font-primary: "Lato", "Arial", sans-serif;
$font-secondary: "Oswald", "Arial", sans-serif;
$primary-color: #000000;
$secondary-color: #ffffff;
$additional-color: #444444;
$extra-color: #111111;
$variable-color: #222222;
$basic-background: #ffffff;
$additional-background: #68b738;
$background-hover: #5eaa2f;
$extra-background: #eaeaea;
$variable-background: #f2f2f2;
$tablet-width: 768px;
$desktop-width: 1300px;
$mobile-width-only: 767px;
