/* GLOBAL */
@import "./common/variables.scss";
@import "./common/mixins.scss";
@import "./common/fonts.scss";
@import "./common/global.scss";

/* BLOCKS */
@import "./blocks/header.scss";
@import "./blocks/additional-products.scss";
@import "./blocks/address.scss";
@import "./blocks/benefit-item.scss";
@import "./blocks/benefits.scss";
@import "./blocks/button.scss";
@import "./blocks/card.scss";
@import "./blocks/catalog-form.scss";
@import "./blocks/catalog.scss";
@import "./blocks/container.scss";
@import "./blocks/copyright.scss";
@import "./blocks/example.scss";
@import "./blocks/hero.scss";
@import "./blocks/logo.scss";
@import "./blocks/main-content.scss";
@import "./blocks/main-footer.scss";
@import "./blocks/main-inner.scss";
@import "./blocks/main-nav.scss";
@import "./blocks/newsletter.scss";
@import "./blocks/option.scss";
@import "./blocks/page.scss";
@import "./blocks/promo-block.scss";
@import "./blocks/site-list.scss";
@import "./blocks/slider.scss";
@import "./blocks/social.scss";
@import "./blocks/stats.scss";
