.additional-products {
  display: block;
  position: relative;
  z-index: 15;

  &::after {
    @include pseudo;
    border-top: 2px solid $additional-background;
    height: 2px;
    min-width: 100%;
    top: 10px;
    right: 0;

    @media (min-width: $tablet-width) {
      top: 13px;
    }

    @media (min-width: $desktop-width) {
      top: 17px;
    }
  }

  &__container {
    @media (max-width: $mobile-width-only) {
      padding: 0;
    }
  }
}

.additional-products__wrapper {
  @media (min-width: $desktop-width) {
    @include flex-between;
    gap: 80px;
  }
}

.additional-products__title {
  font-family: $font-secondary;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  padding-right: 41px;
  padding-bottom: 35px;
  background-color: $secondary-color;
  z-index: 16;
  position: relative;
  display: inline-block;

  @media (min-width: $tablet-width) {
    font-size: 32px;
    line-height: 32px;
    padding: 0;
    padding-right: 40px;
    padding-left: 40px;
    margin-bottom: 80px;
  }

  @media (min-width: $desktop-width) {
    font-size: 40px;
    line-height: 40px;
    margin-left: -40px;
    margin-bottom: 77px;
  }
}

.additional-products__list {
  @include reset;

  @media (min-width: $desktop-width) {
    min-width: 896px;
  }
}
