/*
.address {

}

.address__container {

}

.address__wrapper {

}
*/
.address__text {
  font-family: $font-secondary;
  font-size: 16px;
  line-height: 20px;
  color: $extra-color;
  text-transform: uppercase;
}

.address__direction {
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  color: $additional-color;
}
/*
.address__map-wrapper {

}


.address__map-img {

}
*/
