/*
.benefit-item {

}
*/
.benefit-item__name {
  font-family: $font-secondary;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: $variable-color;
  text-transform: uppercase;
}

.benefit-item__text,
.benefit-item__value {
  font-size: 14px;
  line-height: 14px;
  color: $additional-color;
}
/*
.benefit-item__button {

}
*/
