.benefits {
  margin-bottom: 49px;

  @media (min-width: $tablet-width) {
    margin-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 69px;
  }
}

.container.benefits__container {
  @media (min-width: $tablet-width) {
    padding-bottom: 46px;
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    border: none;
    padding-bottom: 0;
  }
}

.benefits__title {
  font-family: $font-secondary;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 32px;
  }
}

.benefits__list {
  @include reset;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 37px 153px;
  }

  @media (min-width: $desktop-width) {
    @include flex-between;
  }
}

.benefits__item {
  position: relative;
  display: block;
  min-height: 60px;

  &:not(:last-child) {
    margin-bottom: 24px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    padding: 151px 26px 57px 0;

    &:not(:last-child) {
      margin-bottom: 0;
    }

    counter-increment: verse 1;

    ::after {
      @include pseudo;
      content: counter(verse);
      position: absolute;
      font-weight: 400;
      font-size: 280px;
      line-height: 280px;
      color: $variable-background;
      font-family: "Oswald", "Arial", sans-serif;
      top: -30px;
      right: 0;
      z-index: -1;
    }
  }

  &::before {
    @include pseudo;
    width: 60px;
    height: 60px;
    background-color: $additional-background;
    background-position: 50%;
    top: 0;
    left: 0;

    @media (min-width: $tablet-width) {
      width: 80px;
      height: 80px;
      top: 40px;
    }
  }
}

.benefits__item--icon-leaf::before {
  background-image: url("../../icons/stack.svg#icon-leaf");
  background-repeat: no-repeat;
  background-size: 30px 32px;
}

.benefits__item--icon-liquid::before {
  background-image: url("../../icons/stack.svg#icon-liquid");
  background-repeat: no-repeat;
  background-size: 26px 29px;
}

.benefits__item--icon-tableware::before {
  background-image: url("../../icons/stack.svg#icon-tableware");
  background-repeat: no-repeat;
  background-size: 25px 30px;
}

.benefits__item--icon-clock::before {
  background-image: url("../../icons/stack.svg#icon-clock");
  background-repeat: no-repeat;
  background-size: 26px 31px;
}

.benefits__description {
  color: $additional-color;
  margin: 0;
  padding-left: 80px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    padding-left: 0;
  }
}
