.benefits {
  margin-bottom: 49px;
}

.benefits__title {
  font-family: $font-secondary;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 40px;
}

.benefits__list {
  @include reset;
}

.benefits__item {
  position: relative;
  display: block;
  min-height: 60px;

  &:not(:last-child) {
    margin-bottom: 24px;
  }

  &::before {
    @include pseudo;
    width: 60px;
    height: 60px;
    background-color: $additional-background;
    background-position: 50%;
    top: 0;
    left: 0;
  }
}

.benefits__item--icon-leaf::before {
  background-image: url("../../icons/stack.svg#icon-leaf");
  background-repeat: no-repeat;
  background-size: 30px 32px;
}

.benefits__item--icon-liquid::before {
  background-image: url("../../icons/stack.svg#icon-liquid");
  background-repeat: no-repeat;
  background-size: 26px 29px;
}

.benefits__item--icon-tableware::before {
  background-image: url("../../icons/stack.svg#icon-tableware");
  background-repeat: no-repeat;
  background-size: 25px 30px;
}

.benefits__item--icon-clock::before {
  background-image: url("../../icons/stack.svg#icon-clock");
  background-repeat: no-repeat;
  background-size: 26px 31px;
}

.benefits__description {
  color: $additional-color;
  margin: 0;
  padding-left: 80px;
}
