.button {
  @include primary-button($font-secondary, $secondary-color, $additional-background);
  transition-property: color, background-color;
  transition-duration: 0.3, 0.3;
  cursor: pointer;

  &:hover {
    background-color: $background-hover;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  &--secondary {
    color: $additional-color;
    background-color: $variable-background;

    &:hover,
    &:active {
      background-color: #ebebeb;
      color: $additional-color;
    }
  }
}
