.card {
  padding: 20px 20px 24px;
  border-bottom: 1px solid #ebebeb;

  @media (min-width: $tablet-width) {
    padding: 10px 37px 40px;
    border: none;
    background-image: linear-gradient($basic-background 80px, $variable-background 80px, $variable-background 352px);
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $desktop-width) {
    padding-left: 38px;
    padding-right: 38px;
  }
}

.card__more-wrapper {
  padding: 53px 30px 21px;
  text-align: center;
  position: relative;

  @media (min-width: $tablet-width) {
    padding: 160px 77px 20px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    padding: 150px 37px 20px;
  }
}

.card--show-more {
  @media (max-width: $mobile-width-only) {
    padding-top: 25px;
  }

  @media (min-width: $tablet-width) {
    background-image: none;
    padding: 0;
    padding-top: 82px;
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $desktop-width) {
    padding-top: 80px;
  }
}

.card__show-wrapper {
  @media (min-width: $tablet-width) {
    border: 2px solid $variable-background;
    padding-bottom: 40px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
}

.card__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  @media (max-width: $mobile-width-only) {
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 16px;
  }

  @media (min-width: $tablet-width) {
    @include flex-between;
    flex-direction: column;
    gap: 22px;
    margin-bottom: 26px;
    flex-grow: 1;
  }

  @media (min-width: $desktop-width) {
    gap: 12;
  }
}

.card__link-image {
  display: inline-block;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    display: inline;
  }
}

.card__image {
  display: block;
}

.card__link-title {
  display: inline-block;
  text-decoration: none;
  color: $variable-color;

  @media (min-width: $tablet-width) {
    display: block;
    flex-grow: 1;
  }
}

.card__title {
  font-family: $font-secondary;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 14px;
  padding-right: 64px;

  @media (min-width: $tablet-width) {
    text-align: center;
    padding-right: 55px;
    padding-left: 56px;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 11px;
    padding-right: 14px;
    margin-bottom: 23px;
  }
}

.card__description {
  @media (min-width: $tablet-width) {
    min-width: 250px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  @media (min-width: $desktop-width) {
    min-width: 169px;
  }
}

.card__list {
  @include reset;
}

.card__item {
  @include flex-between;
  font-size: 12px;
  line-height: 18px;
  color: $additional-color;

  @media (min-width: $tablet-width) {
    margin-bottom: 7px;
    padding-bottom: 4px;
    border-bottom: 1px solid #cdcdcd;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 6px;
  }
}

.card__type {
  margin: 0;
  padding-right: 5px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

.card__value {
  margin: 0;
  padding-left: 5px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

.card__link-icon::before {
  @include pseudo;
  @include transform;
  background-image: url("../../icons/stack.svg#catalog-plus-icon");
  background-size: 30px 30px;
  background-position: top center;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  top: 15px;

  @media (min-width: $tablet-width) {
    width: 60px;
    height: 60px;
    top: 80px;
    background-size: 60px 60px;
  }
}

.card__more {
  font-family: $font-secondary;
  font-size: 16px;
  line-height: 20px;
  color: $extra-color;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 8px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 21px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 24px;
  }
}

.card__text {
  font-size: 12px;
  line-height: 16px;
  color: $additional-color;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 18px;
  }
}

.card__button {
  width: 100%;
}

.card__button-wrapper {
  @media (min-width: $tablet-width) {
    margin-left: 37px;
    margin-right: 37px;
    margin-top: auto;
  }

  @media (min-width: $desktop-width) {
    margin-left: 38px;
    margin-right: 38px;
  }
}
