.card {
  padding: 20px 20px 24px;
  border-bottom: 1px solid #ebebeb;

  &__more-wrapper {
    padding: 25px 30px 21px;
    text-align: center;
  }

  &--show-more {
    padding-top: 25px;
    position: relative;
  }

  @media (min-width: $tablet-width) {
    padding: 10px 37px 40px;
    border: none;
    background-image: linear-gradient($basic-background 100px, $variable-background 100px, $variable-background 312px);
  }
}

.card__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 17px;

  @media (min-width: $tablet-width) {
    @include flex-between;
    flex-direction: column;
    gap: 22px;
    margin-bottom: 32px;
  }
}

.card__link-image {
  display: inline-block;
  text-decoration: none;
}

.card__image {
  display: block;
}

.card__link-title {
  display: inline-block;
  text-decoration: none;
  color: $variable-color;
}

.card__title {
  font-family: $font-secondary;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 14px;
  padding-right: 64px;

  @media (min-width: $tablet-width) {
    text-align: center;
    padding-right: 55px;
    padding-left: 60px;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 20px;
  }
}

.card__list {
  @include reset;
}

.card__item {
  @include flex-between;
  font-size: 12px;
  line-height: 18px;
  color: $additional-color;

  @media (min-width: $tablet-width) {
    margin-bottom: 10px;
    text-decoration: underline #cdcdcd;
    text-decoration-style: solid;
    text-decoration-thickness: 1px;
    text-underline-offset: 5px;
    text-underline-position: under;
    justify-content: flex-start;
  }
}

.card__type,
.card__value {
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

.card__value {
  @media (min-width: $tablet-width) {
    margin-left: auto;
  }
}

.card__link-icon::before {
  @include pseudo;
  @include transform;
  background-image: url("../../icons/stack.svg#catalog-plus-icon");
  background-size: 30px 30px;
  background-position: top center;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  top: 40px;
}

.card__more {
  font-family: $font-secondary;
  font-size: 16px;
  line-height: 20px;
  color: $extra-color;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 8px;
  padding-top: 23px;
}

.card__text {
  font-size: 12px;
  line-height: 16px;
  color: $additional-color;
  margin: 0;
}

.card__button {
  width: 100%;
}
