.catalog-form {
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0;
    display: flex;
  }
}

.catalog-form__button {
  width: 100%;
  font-size: 20px;
  line-height: 26px;
  padding-top: 15px;
  padding-bottom: 15px;

  @media (min-width: $tablet-width) {
    width: auto;
    min-width: 256px;
  }
}

.catalog-form__input {
  @include input-valid;
  transition-property: border-color, outline-width;
  transition-duration: 0.3s, 0.3s;

  &:hover {
    border-color: #cdcdcd;
  }

  &:focus {
    border-color: $additional-color;
    outline-width: 2px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.catalog-form__input--invalid {
  @include input-valid;
  outline-width: 2px;
  outline-color: #ff8282;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}
