/*
.catalog {

}

.catalog__container {

}
*/
.catalog__title {
  font-family: $font-secondary;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  margin: 0;
}
/*
.catalog__wrapper {

}
*/
