.container {
  margin: 0 auto;
}

/*
min-width: $mobile-width-only;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    width: $tablet-width;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
    width: $desktop-width;
  }
*/
