.copyright__link {
  @include flex-between;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    gap: 23px;
  }

  &:active {
    opacity: 0.3;
  }

  & .copyright__image {
    display: block;
    fill: #666666;

    &:hover,
    &:focus {
      fill: $additional-background;
    }

    &:active {
      fill: $additional-background;
      opacity: 0.3;
    }
  }
}

.copyright__item {
  font-size: 16px;
  line-height: 20px;
  color: $additional-color;
}
