/*
.copyright {

}
*/
.copyright__link {
  text-decoration: none;
}

.copyright__link::after {
  content: "";
  display: block;
  background-color: #666666;
  width: 27px;
  height: 34px;
  mask-image: url("../../icons/stack.svg#html-academy-footer-logo");
  mask-position: 50%;
  mask-size: 27px 34px;
  mask-repeat: no-repeat;
}

.copyright__item {
  font-size: 14px;
  line-height: 20px;
  color: $additional-color;
}
