.example {
  background-color: $extra-background;
}
/*
.example__container {

}

.example__text-wrapper {

}
*/
.example__title {
  font-family: $font-secondary;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  margin: 0;
}

.example__text {
  color: $additional-color;
}
/*
.example__stats {

}
*/
.example__text-value {
  font-family: $font-secondary;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}
/*
.example__price {

}
*/
