.example {
  background-color: $extra-background;

  @media (min-width: $tablet-width) {
    background-image: linear-gradient($basic-background 57%, $extra-background 55%);
    padding-bottom: 101px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 75px;
    background-image: linear-gradient($basic-background 136px, $variable-background 136px, $variable-background 326px);
  }
}

.example__container {
  padding-top: 25px;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    @include flex-between;
    gap: 224px;
  }
}

.example__title {
  font-family: $font-secondary;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 146px;
  }
}

.example__text {
  color: $additional-color;
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 69px;
  }
}

.example__text-wrapper {
  @media (min-width: $tablet-width) {
    position: relative;
    margin-bottom: 99px;
  }

  @media (min-width: $desktop-width) {
    position: static;
    margin-bottom: 0;
    max-width: 432px;
    min-height: 317px;
  }
}

.example__text-value {
  font-family: $font-secondary;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
  padding: 0 10px;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 0;
    position: absolute;
    top: 240px;
    right: 0;
    margin-bottom: 0;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    position: static;
    text-align: left;
  }
}

.example__price {
  @media (min-width: $tablet-width) {
    position: absolute;
    top: 30px;
    right: 0;
  }

  @media (min-width: $desktop-width) {
    position: static;
    margin-left: 63px;
  }
}

.example__stats {
  @include flex-between;
  margin: 0;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    justify-content: flex-start;
    gap: 43px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    gap: 42px;
    margin-bottom: 55px;
  }
}
