.header__container {
  position: relative;
  max-width: $mobile-width-only;
}

.header__menu-wrapper {
  @include flex-between;
  padding: 13px 0 15px;
  position: relative;
  max-width: $mobile-width-only;
}
