.header__container {
  position: relative;

  @media (min-width: $tablet-width) {
    & {
      min-height: 50px;
    }
  }
}

.header__menu-wrapper {
  @include flex-between;
  padding: 13px 20px 15px;
  position: relative;
}
