.header {
  @media (min-width: $tablet-width) {
    .header__container {
      padding-top: 25px;
    }
  }


  &--background {
    @media (min-width: $desktop-width) {
      &::after {
        @include pseudo;
        background-image: linear-gradient(rgba(104, 183, 56, 0.85) 50%, rgba(104, 183, 56, 0.85) 50%), url("../../images/index-background-desktop@1x.png");
        background-color: #4e4d54;
        background-repeat: no-repeat;
        background-position: top right;
        background-size: 100%, 720px 694px;
        width: 50%;
        height: 694px;
        top: 0;
        right: 0;
        z-index: 0;
      }
    }

    @media (min-resolution: 2dppx) {
      &::after {
        background-image: linear-gradient(rgba(104, 183, 56, 0.85) 50%, rgba(104, 183, 56, 0.85) 50%), url("../../images/index-background-desktop@2x.png");
      }
    }
  }

  @media (min-width: $desktop-width) {
    .header__container {
      padding-top: 55px;
    }
  }
}

.header__container {
  position: relative;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
  }
}

.header__menu-wrapper {
  @include flex-between;
  padding: 12px 0;
  position: relative;

  @media (min-width: $tablet-width) {
    display: block;
    padding: 0;
  }
}
