/*
.hero {

}

.hero__container {

}
*/
.hero__wrapper {
  background-color: $additional-background;
}

.hero__title {
  font-family: $font-secondary;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: $secondary-color;
  text-align: center;
  margin: 0;
}

.hero__description {
  font-family: $font-secondary;
  color: $secondary-color;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
}
/*
.hero__wrapper {

}
*/
.hero__button {
  font-family: $font-secondary;
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}
