.hero {
  background-image: linear-gradient(rgba(104, 183, 56, 0.85) 63%, $secondary-color 63%), url("../../images/index-background-mobile@1x.png");
  background-color: $secondary-color;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100%, 320px 302px;
  text-align: center;
  display: block;
  margin-bottom: 20px;
  min-height: 320px;

  @media (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(104, 183, 56, 0.85) 63%, $secondary-color 63%), url("../../images/index-background-mobile@2x.png");
  }

  @media (max-width: $mobile-width-only) {
    background-color: #4d4e52;
  }

  @media (min-width: $tablet-width) {
    background-image: none;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 82px;
  }
}

.hero__container {
  @media (min-width: $tablet-width) {
    position: relative;
    padding-bottom: 526px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 184px;
  }
}

.hero__title {
  font-family: $font-secondary;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: $secondary-color;
  text-align: center;
  margin: 0;
  margin-bottom: 25px;
  padding: 27px 15px 0;

  @media (min-width: $tablet-width) {
    color: $primary-color;
    font-size: 60px;
    line-height: 60px;
    padding-top: 60px;
    padding-right: 20px;
    padding-left: 90px;
    margin-bottom: 40px;
    text-align: left;
    position: relative;
    z-index: 5;
  }

  @media (min-width: $desktop-width) {
    font-size: 60px;
    line-height: 60px;
    padding: 107px 10px 0 80px;
    margin-bottom: 40px;
    max-width: 560px;
  }
}

.hero__description {
  font-family: $font-secondary;
  color: $secondary-color;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 29px;
  padding: 0 10px;

  @media (min-width: $tablet-width) {
    color: $primary-color;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    padding-left: 90px;
    padding-right: 20px;
    margin-bottom: 50px;
    position: relative;
    z-index: 4;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 20px;
    padding-left: 80px;
    margin-bottom: 52px;
    max-width: 560px;
  }
}

.hero__button {
  font-family: $font-secondary;
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  width: 100%;

  @media (min-width: $tablet-width) {
    display: block;
    font-size: 20px;
    line-height: 26px;
    padding: 14px 24px 14px 26px;
    width: 242px;
    margin-left: 90px;
    position: relative;
    z-index: 3;
  }

  @media (min-width: $desktop-width) {
    margin-left: 80px;
  }
}

.hero__image {
  display: block;
  margin: 0 auto;
  margin-bottom: 3px;

  @media (min-width: $tablet-width) {
    margin: 0;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 26px;
    right: 260px;
    left: auto;
    transform: none;
  }
}
