.logo {
  display: inline-block;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.logo__link .logo__text-image,
.logo__link .logo__image {
  display: inline-block;

  &:hover,
  &:focus {
    fill: #3e3e3e;
  }

  &:active {
    fill: #6b6b6b;
  }
}

@media (max-width: $mobile-width-only) {
  .logo__text-image {
    @include transform;
    position: absolute;
  }
}
