.logo {
  display: inline-block;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    gap: 13px;
  }

  @media (min-width: $desktop-width) {
    gap: 14px;
  }
}

.logo__image {
  display: inline-block;
}

.logo__link {
  display: inline-block;
}

.logo__text-footer {
  fill: $extra-color;
}

.logo__link:hover + .logo__text-footer,
.logo__link:focus + .logo__text-footer {
  fill: #3e3e3e;
}

.logo__link:active + .logo__text-footer {
  fill: #6b6b6b;
}

.logo__text-image {
  @include transform;
  display: inline-block;
  position: absolute;

  @media (min-width: $tablet-width) {
    position: static;
    transform: none;
  }
}
