.main-footer {
  background-color: $variable-background;
}

.main-footer__container {
  padding-top: 40px;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    @include flex-between;
    padding-top: 62px;
    padding-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 72px;
    padding-bottom: 69px;
  }
}

.main-footer__logo {
  padding: 0 76px 15px;
  border-bottom: 1px solid #d9d9d9;
  width: 100%;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: auto;
    padding: 0;
    border-bottom: none;
  }
}

.main-footer__social {
  padding: 23px 5px 17px 11px;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    padding: 0;
    border-bottom: none;
    padding-left: 40px;
    padding-right: 5px;
  }
}

.main-footer__copyright {
  padding-top: 26px;
  position: relative;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    padding-bottom: 6px;
  }
}
