.main-footer {
  background-color: $variable-background;
}

.main-footer__container {
  padding-top: 40px;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    @include flex-between;
    padding-top: 55px;
    padding-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.main-footer__logo {
  padding: 0 76px 19px;
  border-bottom: 1px solid #d9d9d9;
  width: 100%;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: auto;
    padding: 0;
    border-bottom: none;
  }
}

.main-footer__social {
  padding: 20px 74px 19px;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    padding: 0;
    border-bottom: none;
  }
}

.main-footer__copyright {
  padding-top: 20px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}
