.main-nav {
  background-color: $basic-background;

  @media (max-width: $mobile-width-only) {
    &--opened {
      .main-nav__toggle {
        background-image: url("../../icons/stack.svg#close-button-navigation-mobile");
        display: block;
      }

      .main-nav__list {
        position: absolute;
        width: 100%;
        left: 0;
        top: 66px;
        margin: 0;
      }
    }

    &--closed {
      .main-nav__list {
        display: none;
      }

      .main-nav__toggle {
        display: block;
      }
    }
  }

  @media (min-width: $tablet-width) {
    margin-left: auto;
    padding-left: 20px;
    padding-right: 5px;
    margin-top: -7px;
  }

  @media (min-width: $desktop-width) {
    z-index: 1;
    background-color: transparent;
    max-width: 620px;
    margin-top: -2px;
    margin-right: -4px;
  }
}

.main-nav__toggle {
  display: none;
  position: absolute;
  top: 20px;
  right: 21px;
  background-color: $basic-background;
  background-image: url("../../icons/stack.svg#hamburger-button-navigation-mobile");
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-position: center;
  width: 24px;
  height: 24px;
  padding: 0;
  border: none;
  cursor: pointer;
}

.main-nav__list {
  @include reset;
  margin-left: -20px;
  margin-right: -20px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}
