.newsletter {
  position: relative;

  &__container {
    padding: 40px 0;

    @media (min-width: $tablet-width) {
      padding: 80px 0;
    }

    @media (min-width: $desktop-width) {
      padding-top: 96px;
      padding-bottom: 104px;
    }
  }

  &::after {
    @include pseudo;
    border-top: 2px solid $additional-background;
    width: 100%;
    height: 2px;
    display: block;
    top: 54px;
    right: 0;
    z-index: 13;

    @media (min-width: $tablet-width) {
      top: 96px;
    }

    @media (min-width: $desktop-width) {
      top: 116px;
    }
  }
}

.newsletter__title {
  font-family: $font-secondary;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  margin: 0;
  z-index: 14;
  position: relative;
  display: inline-block;
  background-color: $secondary-color;
  padding: 0 40px 0 20px;
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    font-size: 32px;
    line-height: 32px;
    padding: 0;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 66px;
    margin-left: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 40px;
    margin-bottom: 72px;
  }
}

.newsletter__text {
  font-family: $font-secondary;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  padding: 0 20px;
  text-align: center;
  margin-bottom: 24px;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 24px;
    padding: 0;
  }
}

.newsletter__wrapper {
  @media (min-width: $tablet-width) {
    margin-right: 30px;
    margin-left: 30px;
    padding-right: 38px;
    padding-left: 38px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 234px;
    padding-left: 234px;
    margin-right: 40px;
    margin-left: 40px;
  }
}
