.option {
  margin-bottom: 20px;
}

.option__list {
  @include reset;
}

.option__item {
  background-color: $variable-background;
  position: relative;
  margin-bottom: 20px;
  padding: 30px 33px 18px 20px;

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    @include pseudo;
    background-color: $additional-background;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    top: 21px;
    left: 20px;
  }

  &::after {
    @include pseudo;
    background-repeat: no-repeat;
  }
}

.option__item--icon-slim::after {
  background-image: url("../../icons/stack.svg#cat-slim-icon");
  background-size: 36px 50px;
  width: 36px;
  height: 50px;
  top: 21px;
  left: 27px;
}

.option__item--icon-pro::after {
  background-image: url("../../icons/stack.svg#cat-pro-icon");
  background-size: 67px 28px;
  width: 67px;
  height: 28px;
  top: 35px;
  left: 13px;
}

.option__title {
  font-family: $font-secondary;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 29px;
  padding-left: 70px;
}

.option__description {
  color: $additional-color;
  margin: 0;
  margin-bottom: 15px;
  padding-bottom: 22px;
  border-bottom: 1px solid #d9d9d9;
}

.option__button {
  @include primary-button($font-secondary,  $primary-color, transparent);
  line-height: 16px;
  padding: 4px 57px 4px 0;
  position: relative;

  &::after {
    @include pseudo;
    background-color: $primary-color;
    width: 24px;
    height: 12px;
    transition: all, all 1.3s;
    mask-image: url("../../icons/stack.svg#arrow-catalog-slim-pro");
    mask-position: left center;
    mask-size: 24px 12px;
    mask-repeat: no-repeat;
    top: 6px;
    right: 8px;
  }

  &:hover::after {
    width: 32px;
    height: 10px;
    mask-position: right center;
    mask-size: 32px 10px;
    top: 7px;
    right: 0;
  }

  &:active {
    right: 0;
    opacity: 0.3;
  }
}
