.option {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 71px;
  }
}

.option__list {
  @include reset;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;
  }
}

.option__item {
  background-color: $variable-background;
  position: relative;
  margin-bottom: 20px;
  padding: 30px 33px 18px 20px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    padding: 77px 316px 53px 52px;
    position: relative;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 77px 61px 55px 52px;
    margin-bottom: 0;

    &:not(:last-child) {
      margin-bottom: 0;
    }
  }

  &::before {
    @include pseudo;
    background-color: $additional-background;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    top: 21px;
    left: 20px;

    @media (min-width: $tablet-width) {
      width: 200px;
      height: 200px;
      right: 63px;
      top: 77px;
      left: auto;
    }

    @media (min-width: $desktop-width) {
      width: 100px;
      height: 106px;
      right: auto;
      top: 47px;
      left: 52px;
    }
  }

  &::after {
    @include pseudo;
    background-repeat: no-repeat;
  }
}

.option__item--icon-slim::after {
  background-image: url("../../icons/stack.svg#cat-slim-icon");
  background-size: 36px 50px;
  width: 36px;
  height: 50px;
  top: 21px;
  left: 27px;

  @media (min-width: $tablet-width) {
    background-size: 140px 194px;
    width: 140px;
    height: 194px;
    top: 77px;
    left: auto;
    right: 93px;
  }

  @media (min-width: $desktop-width) {
    background-size: 70px 97px;
    width: 70px;
    height: 97px;
    right: auto;
    top: 41px;
    left: 67px;
  }
}

.option__item--icon-pro::after {
  background-image: url("../../icons/stack.svg#cat-pro-icon");
  background-size: 67px 28px;
  width: 67px;
  height: 28px;
  top: 35px;
  left: 13px;

  @media (min-width: $tablet-width) {
    background-size: 262px 112px;
    width: 262px;
    height: 112px;
    top: 130px;
    left: auto;
    right: 29px;
  }

  @media (min-width: $desktop-width) {
    background-size: 134px 56px;
    width: 134px;
    height: 56px;
    top: 67px;
    right: auto;
    left: 33px;
  }
}

.option__title {
  font-family: $font-secondary;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 29px;
  padding-left: 70px;

  @media (min-width: $tablet-width) {
    padding-left: 0;
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 24px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 162px;
    margin-bottom: 73px;
  }
}

.option__description {
  color: $additional-color;
  margin: 0;
  margin-bottom: 15px;
  padding-bottom: 22px;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    border: none;
    padding: 0;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 48px;
  }
}

.option__button {
  @include primary-button($font-secondary,  $primary-color, transparent);
  line-height: 16px;
  padding: 4px 57px 4px 0;
  position: relative;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }

  &::after {
    @include pseudo;
    background-color: $primary-color;
    width: 24px;
    height: 12px;
    transition: all, all 1.3s;
    mask-image: url("../../icons/stack.svg#arrow-catalog-slim-pro");
    mask-position: left center;
    mask-size: 24px 12px;
    mask-repeat: no-repeat;
    top: 6px;
    right: 8px;

    @media (min-width: $tablet-width) {
      top: 12px;
    }
  }

  &:hover::after {
    width: 32px;
    height: 10px;
    mask-position: right center;
    mask-size: 32px 10px;
    top: 7px;
    right: 0;

    @media (min-width: $tablet-width) {
      top: 14px;
    }
  }

  &:active {
    right: 0;
    opacity: 0.3;
  }
}
