/*
.option {

}

.option__container {

}
*/
.option__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.option__item {
  background-color: $variable-background;
}
/*
.option__item--icon-slim {

}

.option__item--icon-pro {

}
*/
.option__title {
  font-family: $font-secondary;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
}

.option__description {
  color: $additional-color;
}

.option__button {
  display: inline-block;
  text-decoration: none;
  font-family: $font-secondary;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  color: $primary-color;
  text-transform: uppercase;
}
