.promo-block {
  background-color: $additional-background;
}

.promo-block__text {
  color: $secondary-color;
  font-size: 16px;
  line-height: 20px;
  margin: 0;

  &::before {
    @include pseudo;
    position: relative;
    background-image: url("../../icons/stack.svg#gift-icon");
    background-repeat: no-repeat;
    background-size: 78px 80px;
    width: 80px;
    height: 80px;
  }
}
