.promo-block {
  margin-top: 35px;
  min-height: 280px;
  background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../../images/catalog-background-mobile@2x.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  text-align: center;
  display: block;

  @media (min-width: $tablet-width) {
    margin-top: 70px;
    min-height: 200px;
    text-align: left;
    padding: 57px 125px 60px 77px;
    background-position: 100%, 100% -320px;
  }
}

.promo-block__text {
  color: $secondary-color;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  padding: 59px 61px 43px 58px;

  @media (min-width: $tablet-width) {
    @include flex-between;
    padding: 0;
  }

  &::before {
    @include pseudo;
    position: relative;
    background-image: url("../../icons/stack.svg#gift-icon");
    background-repeat: no-repeat;
    background-size: 78px 80px;
    width: 80px;
    height: 80px;
    margin: 0 auto;
    margin-bottom: 48px;

    @media (min-width: $tablet-width) {
      width: 80px;
      height: 82px;
      background-size: 80px 82px;
      margin: 0;
    }
  }
}
