.site-list {
  position: absolute;
  background-color: $basic-background;
  width: 100%;
  left: 0;
  top: 70px;
}

.site-list__item {
  padding: 22px 10px 23px;
  border-bottom: 1px solid #e6e6e6;
  text-align: center;

  &:first-child {
    border-top: 1px solid #e6e6e6;
  }

  @media (min-width: $tablet-width) {
    @include flex-between;
    border: none;
    padding: 0;
  }
}

.site-list__button {
  display: inline-block;
  font-family: $font-secondary;
  font-size: 20px;
  line-height: 20px;
  color: $primary-color;
  text-decoration: none;
  text-transform: uppercase;
}
