.site-list {
  background-color: $basic-background;

  @media (min-width: $tablet-width) {
    display: flex;
    gap: 33px;
    flex-wrap: wrap;
  }

  &--background {
    @media (min-width: $desktop-width) {
      background-color: transparent;
    }
  }
}

.site-list__item {
  padding: 22px 10px 20px;
  border-bottom: 1px solid #e6e6e6;
  text-align: center;

  @media (max-width: $mobile-width-only) {
    &:nth-child(1) {
      border-top: 1px solid #e6e6e6;
    }
  }

  @media (min-width: $tablet-width) {
    @include flex-between;
    border: none;
    padding: 0;
  }
}

.site-list__button {
  display: inline-block;
  font-family: $font-secondary;
  font-size: 20px;
  line-height: 20px;
  color: $primary-color;
  text-decoration: none;
  text-transform: uppercase;
  transition-property: opacity;
  transition-duration: 0.3s;
  position: relative;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    padding-top: 14px;
    padding-bottom: 12px;
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
  }

  &--active::after {
    @media (min-width: $tablet-width) {
      @include pseudo;
      height: 2px;
      background-color: $additional-background;
      left: 0;
      right: 0;
      bottom: 3px;
    }

    @media (min-width: $desktop-width) {
      bottom: 5px;
    }
  }

  &--background {
    @media (min-width: $desktop-width) {
      color: $basic-background;
    }
  }

  &--background::after {
    @media (min-width: $desktop-width) {
      height: 2px;
      background-color: $basic-background;
      left: 0;
      right: 0;
      bottom: 5px;
    }
  }
}
