.slider {
  position: relative;
  display: block;
  width: 280px;
  height: 256px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 560px;
    height: 512px;
    display: block;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 11px;
  }
}

.slider__toggle {
  cursor: pointer;
  background-color: #666666;
  border: none;
  border-radius: 2px;
  width: 4px;
  height: 100%;
  padding: 0;
  display: block;
  position: absolute;
  top: 0;
  right: 50%;
  transform: translateX(50%);
  z-index: 10;
  transition: all 0.3s;

  &::before {
    @include pseudo;
    @include transform;
    background-color: $secondary-color;
    border: 2px solid #666666;
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }

  &::after {
    @include pseudo;
    @include transform;
    background-color: #666666;
    width: 24px;
    height: 18px;
    mask-image: url("../../icons/stack.svg#toggle-button-icon");
    mask-position: 50%;
    mask-size: 24px 18px;
    mask-repeat: no-repeat;
  }

  &:hover {
    background-color: $additional-background;

    &::after {
      background-color: $additional-background;
    }

    &::before {
      border: 2px solid $additional-background;
    }
  }

  &:active {
    background-color: $additional-background;
    opacity: 0.6;
  }
}

.slider__image-wrapper {
  width: 50%;
  overflow: hidden;
  position: absolute;

  &--first {
    z-index: 9;
    background-color: $extra-background;

    @media (min-width: $tablet-width) {
      background-image: linear-gradient(to top, $extra-background 353px, $basic-background 151px);
    }

    @media (min-width: $desktop-width) {
      background-image: linear-gradient($basic-background 131px, $variable-background 126px, $variable-background 240px);
    }
  }

  &--second {
    width: 100%;
  }
}
