/*
.social {

}
*/
.social__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
/*
.social__item {

}

.social__link {

}

.social__link--vkontakte {

}

.social__link--youtube {

}

.social__link--telegram {

}
*/
