.stats__value {
  font-family: $font-secondary;
  font-size: 24px;
  line-height: 24px;
  padding: 14px 5px 10px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
    padding: 15px 30px 10px;
  }
}

.stats__definition {
  font-size: 12px;
  line-height: 12px;
  color: $additional-color;
  text-transform: lowercase;
  margin: 0;
  text-align: center;
  padding: 0 10px;
  background-color: $extra-background;
  position: relative;
  z-index: 1;
  display: inline-block;
  left: 20%;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 14px;
    background-color: $secondary-color;
    min-width: 135px;
    padding: 0;
    left: 15px;

    br {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    background-color: $variable-background;
  }
}

.stats__item {
  position: relative;
  min-width: 124px;

  &::after {
    @include pseudo;
    border: 1px solid #cdcdcd;
    border-radius: 3px;
    top: 0;
    left: 0;

    @media (max-width: $mobile-width-only) {
      min-width: 124px;
      height: 56px;
    }

    @media (min-width: $tablet-width) {
      min-width: 162px;
      height: 72px;
    }
  }

  @media (min-width: $tablet-width) {
    min-width: 162px;
    min-height: 77px;
  }
}
