/*
.stats {

}

.stats__item {

}
*/
.stats__value {
  font-family: $font-secondary;
  font-size: 24px;
  line-height: 24px;
}

.stats__definition {
  font-size: 12px;
  line-height: 12px;
  color: $additional-color;
  text-transform: lowercase;
}
